<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Softklass - Imagine, perfect simplicity</title>
    <script src="/assets/javascript/jokes.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <!-- Bulma Version 0.7.4-->
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css"
    />
  </head>
  <body>
    <section class="hero is-info is-medium is-bold">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item brand-name" href="/">
                S//K
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <div class="tabs is-right">
                  <ul>
                    <li class="is-active"><a>Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#why">Why</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                  <span class="navbar-item">
                    <a
                      class="button is-white is-outlined"
                      href="mailto:josh.ludahl@gmail.com"
                    >
                      <span class="icon">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body topshelf">
        <div class="container has-text-centered">
          <h1 class="title title-bg">
            Team work makes the dream work
          </h1>
          <h2 class="subtitle title-bg">
            It might sound corny, but most successful companies rely on the collaborative efforts of their teams working together toward a common goal.
          </h2>
        </div>
      </div>
    </section>
    <div class="box cta">
      <p class="has-text-centered">
        <span class="tag is-warning">Happening Now</span> We evolve with intent,
        constantly adjusting to business needs.
      </p>
    </div>
    <section id="about" class="section">
        <div class="container has-text-centered">
          <h1 class="title">Welcome to Softklass</h1>
          <h2 class="subtitle">
            Creating simplistic, <strong>effective</strong> applications that <i>simply</i> work.
          </h2>
        </div>
      </section>


    <section class="container">
      <div class="columns features">
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image has-text-centered">
              <i class="fas fa fa-code"></i>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Developing now</h4>
                <p>
                  Development is our bread and butter, it's what we love to do. Reach out now to see what we can do for you!
                </p>
                <p><a href="#why" class="button is-info is-rounded">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image has-text-centered">
              <i class="fas fa fa-brush"></i>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Simple, effective designs</h4>
                <p>
                  Focusing on a usability-first approach provides our customers
                  with products their customers will enjoy using, reducing
                  training calls while increasing productivity.
                </p>
                <p><a href="#why" class="button is-info is-rounded">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card is-shady">
            <div class="card-image has-text-centered">
              <i class="fas fa fa-hands"></i>
            </div>
            <div class="card-content">
              <div class="content">
                <h4>Function + Purpose</h4>
                <p>
                  A software production should be easy to use and function as a harmonic extension to the task at hand.
                </p>
                <p><a href="#why" class="button is-info is-rounded">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="intro column is-8 is-offset-2">
        <h2 class="title">Master the fundamentals, then evolve with intent!</h2>
        <br />
        <p class="subtitle">
          Creating simple to use applications increases productivity for both the end-user and the client.
        </p>
      </div>
      <div id="portfolio" class="sandbox">
        <div class="tile is-ancestor">
          <div class="tile is-parent is-shady">
            <article class="tile is-child notification is-white">
              <p class="title">Impromptu</p>
              <p class="subtitle">Get out there and run</p>
              <p>
                <img src="assets/images/impromptu.jpg" width="500" heigth="500" alt="Impromptu" title="Impromptu" />
              </p>
              <p><a href="http://impromptu.run" target="_blank">Launch Project</a></p>
              <p><br>
                <span class="tag is-info">JavaScript</span>
                <span class="tag is-info">HTML5</span>
                <span class="tag is-info">CSS</span>
              </p>
            </article>
          </div>
          <div class="tile is-parent is-shady">
            <article class="tile is-child notification is-white">
              <p class="title">Bulgae</p>
              <p class="subtitle">Budgets are good</p>
              <p>
                <img src="https://images.unsplash.com/photo-1533094700036-70ecccc6f047?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="500" heigth="500" alt="Impromptu" title="Impromptu" />
              </p>
              <p><a href="http://bulgae.com" target="_blank">Launch Project</a> (coming soon)</p>
              <p><br>
                <span class="tag is-info">JavaScript</span>
                <span class="tag is-info">VueJS</span>
                <span class="tag is-info">NodeJS</span>
                <span class="tag is-info">HTML5</span>
                <span class="tag is-info">CSS</span>
              </p>
            </article>
          </div>
          <div class="tile is-parent is-shady">
            <article class="tile is-child notification is-white">
              <p class="title">Make My Run</p>
              <p class="subtitle">An online running log</p>
              <p>
                <img width="500px" height="500px" src="https://images.unsplash.com/photo-1461896836934-ffe607ba8211?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="" />
              </p>
              <p><a target="_blank" href="https://agile-hollows-78681.herokuapp.com/">Launch Project</a></p>
              <p><br>
                <span class="tag is-info">JavaScript</span>
                <span class="tag is-info">VueJS</span>
                <span class="tag is-info">NodeJS</span>
                <span class="tag is-info">HTML5</span>
                <span class="tag is-info">CSS</span>
              </p>
            </article>
          </div>
        </div>


      </div>
    </section>
    <div id="why" class="intro column is-8 is-offset-2">
      <h2 class="title">We love to create simplistic and realistic products!</h2>
      <br />
      <p class="subtitle">
        Your end-users and support staff will love the simplistic yet intuitive work we do. Knowing who the end-user is and understanding how they
        will use your software is our primary focus and the gateway to making usable software.  We work hard for your end-user to create intuitive, easy to use software so they and your support staff can stay productive.
      </p>
    </div>
    <section id="contact" class="hero has-background-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-centered gap">
            Get in touch now!
          </h1>
          <h2 class="subtitle has-text-centered">
            <ul class="icons-list gap-bottom">
              <li>
                <a
                  href="https://discord.gg/bykjbzS"
                  alt="Message me on Discord"
                  title="Message me on Discord"
                  target="_blank"
                  ><i class="fab fa-discord"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://twitter.com/SoftKlass"
                  alt="Hit me up on Twitter"
                  title="Hit me up on Twitter"
                  target="_blank"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  href="mailto:josh.ludahl@gmail.com"
                  alt="Send me an email"
                  title="Send me an email"
                  target="_blank"
                  ><i class="fas fa-envelope"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/joshludahl"
                  alt="Say hi on LinkedIn"
                  title="Say hi on LinkedIn"
                  target="_blank"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
            </ul>
          </h2>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Softklass</strong> by
          <a href="https://ludahl.com" target="_blank">Josh Ludahl</a>. Imagine perfect simplicity.
        </p>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/javascript/js.js"></script>

    

  </body>
</html>
